.card {
  width: 300px;
  overflow: hidden;
  box-shadow: 0px 0px 15px -5px;
  transition: 0.3s;
  animation: ease-in;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 30px;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 15px 0px;
}

.img-container img {
  overflow: hidden;
  height: 200px;
}

.card-content {
  margin: 1rem;
  margin-top: 0.5rem;
}

h3, p {
  margin: 0;
  padding: 0;
}

p {
  color: #564a4a;
}

.card-title {
  margin-bottom: 0.5rem;
}

.btn {
  display: flex;
  justify-content: center;
}

.btn button {
  padding: 0.5rem;
  background-color: white;
  border: none;
  transition: 0.2s;
  margin-bottom: 0.5rem;
  border-radius: 3px;
}

.btn button:hover {
  background-color: #564a4a;
  transform: scale(1.1);
}

a {
  color: #4aa96c;
  text-decoration: none;
  font-weight: bold;
}

.btn button:hover a{
  color: #fff;
}